@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap")

@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap')

@font-face
    font-family: 'Anthony'
    src: url('../../fonts/Anthony/Anthony.eot')
    src: url('../../fonts/Anthony/Anthony.eot?#iefix') format('embedded-opentype'), url('../../fonts/Anthony/Anthony.woff2') format('woff2'), url('../../fonts/Anthony/Anthony.woff') format('woff'), url('../../fonts/Anthony/Anthony.svg#Anthony') format('svg')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Authentic Sans'
    src: url('../../fonts/AuthenticSans/AUTHENTICSans-90.eot')
    src: url('../../fonts/AuthenticSans/AUTHENTICSans-90.eot?#iefix') format('embedded-opentype'), url('../../fonts/AuthenticSans/AUTHENTICSans-90.woff2') format('woff2'), url('../../fonts/AuthenticSans/AUTHENTICSans-90.woff') format('woff'), url('../../fonts/AuthenticSans/AUTHENTICSans-90.svg#AUTHENTICSans-90') format('svg')
    font-weight: normal
    font-style: normal
    font-display: swap

$base-color: #555555
$base-font: "Authentic Sans"
$link-color: #bd33a4
$secondary-color: #bd3327

.title
    font-family: Anthony, Helvetica, sans-serif

body
    background-color: $base-color
    position: relative

#moon
    cursor: pointer
    position: absolute
    right: 2vw
    top: 0vh
    @media screen and (max-width: 800px)
        height: 5vh
        width: auto

button
  all: unset
  cursor: pointer
  padding-right: 1em

span + span
    margin-left: 1em

.little-more-right-spacing
    margin-right: .12em

ul.not-rly-a-list
    list-style-type: none
    margin-left: 0
    padding: 0

.bottom-border
    border-bottom: 2px solid black
    padding-bottom: 1em
    max-width: 20vw

.set-left
    margin-left: 0

main, h2, footer
    font-family: $base-font
    margin-left: 2vh
    z-index: 5
    p, li
        font-size: 1.2em
    // @media (min-width: 1000px)
    //     @media (min-height: 800px)
    //         font-size: 2vmin
    //     @media (max-height: 799px)
    //         font-size: 2vmax

// set footer at bottom of page
.wrapper
    height: 92vh
footer
    position: absolute
    bottom: 0

* + *
    margin-top: 4vh

li + li
    margin-top: 2vh

a:link, a:visited
    text-decoration: none
    color: #000000

a:hover, .link-highlight:hover
    color: $link-color
    cursor: pointer

.blog-post-content * em:hover
    margin: 0
    cursor: text
    color: $secondary-color

.text
    max-width: 500px

.reading-list
    margin-left: -1.3em

//Markdown captions
.caption
    font-size: 1em
    margin-top: .8em

//Editing Flexboxes
.editing-container
    display: flex


.editing-container
    @media (min-width: 1000px)
        flex-flow: row nowrap
    @media (max-width: 999px)
        flex-flow: column nowrap
        max-width: 800px
    justify-content: flex-start
    .editing-text
        margin-top: 0
        @media (min-width: 1000px)
            margin-left: 2em
        @media (max-width: 999px)
            margin-left: 0
        flex-flow: column nowrap
        .editorial-role
            margin-top: 1.5em
    .gatsby-image-wrapper
        @media (min-width: 1000px)
            max-width: 10vw
        @media (max-width: 999px)
            max-width: 40vw
        height: auto


